doctype html
html
  head
    // Correct link attribute and verify path
    link(rel="icon", href="/img/titlelogo/aasakya-logo.png", type="image/png")
    title Query Form
    
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
     

  body
    block content
    include ./component/footer
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")


    