.img-container {
  position: relative;
  width: 100%;
  height: auto; /* Allow the height to adjust automatically based on content */
}

.img-container img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}
