.footer.py-3.mt-5
  .container.text-center
    p.mb-0 
      | &copy; Powered By 
      a.text-primary.text-decoration-none(href="https://aasakyadigitals.com") Aasakya Digitals


    style. 
        /* Ensure the footer stays fixed at the bottom */
        html, body {
        height: 100%; /* Make sure the HTML and body take the full height of the viewport */
        }

        body {
        display: flex;
        flex-direction: column;
        margin: 0; /* Remove default margin to prevent layout issues */
        }

        .footer {
        border-top: 1px solid rgba(255, 255, 255, 0.1); /* Subtle top border */
        font-size: 2rem; /* Adjust font size for footer text */
        margin-top: auto; /* Push the footer to the bottom */
        
        }

    

