.footer.py-3.mt-5
  .container.text-center
    p.mb-0 
      | &copy; Powered By 
      a.text-primary.text-decoration-none(href="https://aasakyadigitals.com") Aasakya Digitals


    style. 

        .footer {
        border-top: 1px solid rgba(255, 255, 255, 0.1); /* Subtle top border */
        font-size: 2rem; /* Adjust font size for footer text */
        margin-top: auto; /* Push the footer to the bottom */
        
        }

    

